.background-green, input, textarea {
  background-color: rgb(210, 227, 169) !important;
}

.top-buffer { 
	margin-top:20px; 
}

.form-group.required .control-label:after { 
	content:"*";
	color:red;
	font-weight: normal;
	font-size: 20px;
	margin-left: 3px;
	position: absolute;
}

.bottom-buffer { 
	margin-bottom:20px; 
}

.button { 
	background-color: rgb(190, 57, 59);
	color: white;
	border-style: hidden;
}